<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICDS"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".AWCInfrastructaralPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".AWCInfrastructaralProfile3Activity"
            android:exported="false" />
        <activity
            android:name=".AWCInfrastructaralProfile2Activity"
            android:exported="false" />
        <activity
            android:name=".AWCInfrastructaralProfile1Activity"
            android:exported="false" />
        <!--activity
            android:name=".awcinfrastructure1Activity"
            android:exported="false" />
        <activity
            android:name=".ICDS_Inspection1Activity"
            android:exported="false" />
        <activity
            android:name=".icds_inspection_form2Activity"
            android:exported="false" />
        <activity
            android:name=".icds_inspection_form1Activity"
            android:exported="false" /-->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivityForNonInternet"
            android:exported="false" />
        <activity
            android:name=".ICDSInfrastructure1Activity"
            android:exported="false" />



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ICDS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>